<!---->
{{define "Index"}}
<!---->

<!DOCTYPE html>

<html lang="en">

<head>

  <!-- IndexHead -->
  <meta charset="utf-8">

  <meta name="viewport"
    content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>Market Wizards</title>
  <meta name="description"
    content="Studying Charts, Trade Records, and Statistics with Ease">

  <base href="/">

  <link rel="icon"
    href="resources/images/favicon.ico">

  <link rel="manifest"
    href="/resources/manifest.json">

  <meta name="theme-color"
    content="#373c42">

  <meta name="mobile-web-app-capable"
    content="yes">
  <meta name="application-name"
    content="Market Wizards">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable"
    content="yes">
  <meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent">
  <meta name="apple-mobile-web-app-title"
    content="Market Wizards">

  <!-- Homescreen icons -->
  <link rel="apple-touch-icon"
    href="resources/images/manifest/icon-48x48.png">
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="resources/images/manifest/icon-72x72.png">
  <link rel="apple-touch-icon"
    sizes="96x96"
    href="resources/images/manifest/icon-96x96.png">
  <link rel="apple-touch-icon"
    sizes="144x144"
    href="resources/images/manifest/icon-144x144.png">
  <link rel="apple-touch-icon"
    sizes="192x192"
    href="resources/images/manifest/icon-192x192.png">

  <!-- Tile icon for Windows 8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage"
    content="resources/images/manifest/icon-144x144.png">
  <meta name="msapplication-TileColor"
    content="#373c42">
  <meta name="msapplication-tap-highlight"
    content="no">
  <!---->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu"
    rel="stylesheet">

  <!-- IndexCSS -->
  {{template "IndexCSS"}}
  <!---->

  <!-- IndexJS -->
  <!---->

  <!---->
  {{block "ViewCSS" .}}{{end}}
  <!---->
</head>

<body>

  <!---->
  {{template "Modal"}}
  <!---->

  <div id="index-navbar"
    class="index-navbar">
    <!---->
    {{template "Navbar"}}
    <!---->
  </div>

  <div class="index-content">

    <div id="index-sidebar"
      class="index-sidebar-container">

      <!---->
      {{template "IndexInput"}}
      <!---->

      <!---->
      {{block "ViewInput" .}}{{end}}
      <!---->

    </div>

    <div class="index-view-container">

      <div class="view-container">

        <!---->
        {{template "ChartCanvas"}}
        <!---->

      </div>

    </div>

  </div>

  <!-- IndexJS -->
  <!---->

  <!---->
  {{block "ViewJS" .}}{{end}}
  <!---->

</body>

</html>

<!---->
{{end}}
<!---->
