<!---->
{{define "IndexInput"}}
<!---->

<div id="index-input-container"
  class="index-input-container">

  <div class="index-input-set">
    <span class="index-input-label">date</span>
    <input id="index-input-date"
      type="text"
      class="index-input-text">
  </div>

  <div class="index-input-set">
    <span class="index-input-label">symbol</span>
    <input id="index-input-symbol"
      type="text"
      class="index-input-text">
  </div>

  <div class="index-input-set">
    <span class="index-input-label">frequency</span>
    <input id="index-input-frequency"
      type="text"
      class="index-input-text">
  </div>

  <div class="index-input-set">
    <span class="index-input-label">version</span>
    <input id="index-input-version"
      type="text"
      class="index-input-text">
  </div>

  <button id="index-input-button"
    class="index-input-button">ok</button>

</div>

<!---->
{{end}}
<!---->
